.mainBlock {
    box-shadow: -1px 4px 46.6px 14px rgba(0, 0, 0, 0.25);
    background: rgb(38, 38, 38);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 20px;
    padding: 20px;

    width: 500px;
}

.mainContent {
    display: flex;
    gap: 20px;
}

.mainImage {
    width: 80px;
    height: 80px;
}

.mainInfo {
    display: flex;
    gap: 13px;
    flex-direction: column;
}

.mainText {
    width: 300px;
}

.mainContact {
    display: flex;
    gap: 5px;
}

.vkLink {
    width: 30px;
    height: 30px;
    transition: .1s ease;
}

.tgLink {
    width: 35px;
    height: 35px;
    margin-top: -1px;
    transition: .1s ease;
}

.vkLink:hover {
    transform: scale(1.1);
    transition: .1s ease;
}

.tgLink:hover {
    transform: scale(1.1);
    transition: .1s ease;
}