.futBlock {
    background: rgb(38, 38, 38);

    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;

    cursor: pointer;
    transition: .3s ease;
}

.futBlock:hover {
    transform: scale(1.05);
    transition: .3s ease;

    box-shadow: -1px 4px 46.6px 14px rgba(0, 0, 0, 0.25);
}